@font-face {
  font-family: Droido;
  src: url(/font/alien_font/DroidobeshDepot-gxmVE.otf);
}

body {
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.div4_02 {
  height: 100%;
}

#barre_div4_02 {
  width: 100%;
  height: 100%;
}

.grille {
  width: 90vw;
  height: 90vh;
  border: 3px solid #ffa500;

  display: grid;
  grid-template-columns: 5fr 2fr 3fr;
  grid-template-rows: 3fr 1fr 2fr;
  grid-template-areas:
    "A C D"
    "A C E"
    "B C E";
}

.grille > div {
  border: 1px solid #ffa500;
}

.div1 {
  grid-area: A;
}
.div2 {
  grid-area: B;
}
.div3 {
  grid-area: C;
}
.div4 {
  grid-area: D;
}
.div5 {
  grid-area: E;
}

.grillediv1 {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "A C D"
    "B C E"
    "B C E";
}

.grillediv1 > div {
  border: 3px solid #ffa500;
}

.div1_01 {
  grid-area: A;
}
.div1_02 {
  grid-area: B;
}
.div1_03 {
  grid-area: C;
}
.div1_04 {
  grid-area: D;
}
.div1_05 {
  grid-area: E;
}

.grillediv2 {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "A B C"
    "A B C"
    "A B C";
}

.grillediv2 > div {
  border: 3px solid #ffa500;
}

.div2_01 {
  grid-area: A;
}
.div2_02 {
  grid-area: B;
}
.div2_03 {
  grid-area: C;
}

.grillediv3 {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "A A A"
    "B B B"
    "C C C";
}

.grillediv3 > div {
  border: 3px solid #ffa500;
}

.div3_01 {
  grid-area: A;
  overflow: hidden;
}
.div3_02 {
  grid-area: B;
}
.div3_03 {
  grid-area: C;
}

.grillediv4 {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "A A A A"
    "A A A A"
    "B B C C"
    "B B C C";
}

.grillediv4 > div {
  border: 3px solid #ffa500;
}

#carte {
  grid-area: A;
  width: 60%;
  height: 100%;
  border-radius: 100%;
  border: 9px solid #5cd3d5;
  place-self: center;
}
.div4_02 {
  grid-area: B;
}

.div4_03 {
  grid-area: C;
}

.grillediv5 {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "A";
}

.grillediv5 > div {
  border: 3px solid #ffa500;
}

.div5_01 {
  grid-area: A;
}

.zdog-canvas {
  width: 100%;
  height: 100%;
  place-self: center;
}

.horloge {
  border-radius: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 0.5vmax solid #ffa500;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}

.seconde {
  border-radius: 100%;
  background: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.25vmax;
  margin-top: -0.25vmax;
  width: 0.5vmax;
  height: 45%;
  z-index: 2;
  transform-origin: 50% 0%;
}

.radar {
  width: 1cqw;
  height: 1cqw;
  position: absolute;
  background: #5cd3d5;
  border-radius: 50%;
  top: 75%;
  left: 50%;
}
.horloge2 {
  border-radius: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 0.5vmax solid #5cd3d5;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}

.seconde2 {
  border-radius: 100%;
  background: #5cd3d5;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.25vmax;
  margin-top: -0.25vmax;
  width: 0.5vmax;
  height: 45%;
  z-index: 2;
  transform-origin: 50% 0%;
}

.radar2 {
  width: 1cqw;
  height: 1cqw;
  position: absolute;
  background: orange;
  border-radius: 50%;
  top: 15%;
  left: 35%;
}

#barre_div2_02 {
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  margin-top: 5%;
}

#barre_div2_03 {
  width: 75%;
  height: 30%;
  display: block;
  margin: auto;
  margin-top: 25%;
  font-family: "Droido";
}

#barre_div2_01 {
  display: block;
  margin: auto;
  margin-top: 25%;
  border: 1px dotted #5cd3d5;
  width: 90%;
  color: #ffa500;
  font-family: "Droido";
  text-align: center;
}

#barre_div3_01 {
  display: block;
  margin: auto;
  margin-top: 45%;
  border: 1px dotted #ffa500;
  width: 90%;
  color: #5cd3d5;
  font-family: "Droido";
  text-align: center;
}

#barre_div3_02 {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  margin-top: 10%;
}

#barre_div3_03 {
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  margin-top: 10%;
}
